// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  width: 100%;
}
// Спойлер
.spollers__item {
  font-size: toRem(20);
  margin-bottom: toRem(25);
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  position: relative;
  display: flex;
  align-items: center;
  gap: toRem(10);
  transition: all 0.2s;
  ion-icon {
    font-size: toRem(18);
  }
  ._spoller-init & {
    cursor: pointer;

    &._spoller-active {
      color: $primaryColor;
      ion-icon {
        transform: rotate(-180deg);
      }
    }
    /*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
  }
}
// Контент спойлера
.spollers__body {
  padding-top: toRem(20);
  display: flex;
  flex-direction: column;
  gap: toRem(20);
  font-size: toRem(16);
}
