//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: toRem(16) toRem(36);
  border-radius: toRem(60);
  gap: toRem(10);
  font-size: toRem(32);
  font-weight: 500;
  line-height: math.div(37, 32);
  font-family: $fontFamilyHeading;
  cursor: pointer;
  transition: all 0.2s;
  @media (max-width: $pc) {
    font-size: toRem(24);
  }
  @media (max-width: $mobile) {
    padding: toRem(10) toRem(30);
    font-size: toRem(20);
  }
  @media (max-width: $mobileSmall) {
    padding: toRem(8) toRem(24);
    font-size: toRem(16);
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: $primaryColor;
    }
  }
  &--fw {
    width: 100%;
  }
  &--primary {
    background-color: $mainColor;
    color: #fff;
  }
  &--secondary {
    background-color: #fff;
    color: $mainColor;
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
      }
    }
  }
  &.disabled {
    pointer-events: none;
    color: #fff;
    background-color: #cecece;
  }
}
