//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  display: inline-flex;
  padding: 16px 36px;
  border-radius: 50px;
  gap: 10px;
  font-size: toRem(32);
  font-weight: 500;
  line-height: math.div(37, 32);
  font-family: $fontFamilyHeading;
  transition: all 0.2s;
  @media (any-hover: hover) {
    &:hover {
      background-color: $primaryColor;
    }
  }
  &--fw {
    width: 100%;
  }
  &--primary {
    background-color: $mainColor;
    color: #fff;
  }
  &--secondary {
    background-color: #fff;
    color: $mainColor;
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
      }
    }
  }
  &.disabled {
    pointer-events: none;
    color: #fff;
    background-color: #cecece;
  }
}
