//<FORM>
// Сніппет (HTML):
.form {
  &__row {
  }
  &__column {
  }
  &__line {
  }
  &__input {
  }
  &__button {
  }
  &__error {
  }
}
//</FORM>

@import 'button';

@import 'input';

@import 'validate';

@import 'checkbox';

@import 'rating';

.wpcf7-submit {
  margin: 0 auto;
  display: flex;
}

.wpcf7-spinner {
  display: none;
}

.wpcf7-response-output {
  border: none !important;
  margin: toRem(15) 0 0 0 !important;
  animation: hideresp 5s forwards;
  animation-iteration-count: 1;
  position: fixed;
  z-index: 100;
  bottom: toRem(30) !important;
  left: 50%;
  transform: translate(-50%);
  padding: toRem(15) !important;
  background-color: #4d64aa;
  color: #fff;
  border-radius: toRem(12);
  font-size: toRem(20) !important;
  @keyframes hideresp {
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.wpcf7-file {
  display: none;
}

.wpc7 form.sent .wpcf7-response-output {
  background-color: #4d64aa;
}

.wpcf7 form.invalid .wpcf7-response-output {
  background-color: #ebac00;
}
