// Заголовки, загальні БЕМ блоки та інше...
h1,
h2,
h3,
h4 {
  font-family: $fontFamilyHeading;
}

.callback {
  padding-bottom: toRem(120);
  max-width: toRem(1322);
  margin: 0 auto;
  &__wrapper {
    padding: toRem(80) toRem(50);
    border-radius: 25px;
    background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
    box-shadow:
      1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
      -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
      0px 4px 6px 0px rgba(0, 0, 0, 0.07),
      -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
    backdrop-filter: blur(8.5px);
  }
  &__title {
    @include adaptiveValue('font-size', 48, 20);
    line-height: math.div(59, 48);
    text-align: center;
    margin-bottom: toRem(40);
  }
  &__text {
    font-size: toRem(28);
    margin-bottom: toRem(64);
    text-align: center;
  }
  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: toRem(40);
    margin-bottom: toRem(64);
  }
  &__button {
    text-align: center;
  }
  &__input {
    width: 100%;
    position: relative;
  }
}

.slider {
  margin-bottom: toRem(120);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: -250px;
    @include adaptiveValue('left', -300, 0, 3, 1920, 1400);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0 60px 60px 0;
    background: var(--1, linear-gradient(97deg, #010101 42.06%, #3b4c82 106.06%));
    box-shadow:
      0px 4px 5px 0px #000 inset,
      -1px 4px 12px 0px rgba(255, 255, 255, 0.4) inset,
      0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    @media (max-width: $mobile) {
      border-radius: 0;
    }
  }
  &::before{
    content:'';
    position: absolute;
    right: 0;
    z-index: 1;
    top: toRem(-200);
    background: url('../img/slider/slider-decor.png') 0 0 no-repeat;
    width: 600px;
    height: 900px;
  }
  &__wrapper {
    padding: toRem(100) 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: toRem(40);
    @media (max-width: $mobile) {
      padding: toRem(30) 0;
    }
  }
  &__inner {
    max-width: toRem(1240);
    z-index: 2;
  }
  &__item {
    margin: 0 auto;
    @media (max-width: $mobileSmall) {
      max-width: toRem(205);
    }
  }
  &__item-image {
    border-radius: toRem(25);
    max-width: toRem(270);
    margin-bottom: toRem(25);
    @media (max-width: $mobileSmall) {
      max-width: toRem(205);
    }
  }
  &__item-date {
    margin-bottom: toRem(10);
    font-size: toRem(20);
    color: #fff;
  }
  &__item-title {
    @include adaptiveValue('font-size', 24, 16);
    line-height: math.div(29, 24);
    margin-bottom: toRem(25);
    color: #fff;
    max-width: toRem(270);
  }
  &__item-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: toRem(5);
    color: $primaryColor;
    margin-bottom: toRem(30);
    font-size: toRem(20);
    font-weight: 500;
    @media (max-width:$mobileSmall){
       font-size: toRem(16); 
    }
  }
  &__item-button {
    color: $primaryColor;
    font-size: toRem(18);
    line-height: math.div(22, 18);
    padding: toRem(10) toRem(24);
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
      }
    }
  }
  &__button {
    z-index: 2;
    padding-top: toRem(100);
    &.product-slider-next svg {
      rotate: 180deg;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
}
