//====================================================================================================
.page-home {
  .hero {
    @include adaptiveValue('padding-bottom', 120, 40);
    @include adaptiveValue('padding-top', 100, 50);
    &__container {
      @extend %flexStack;
      gap: toRem(15);
      @media (max-width: $tablet) {
        flex-direction: column;
      }
    }
    &__data {
      flex: 0 1 toRem(940);
      @media (max-width: $tablet) {
        flex: auto;
        width: 100%;
        text-align: center;
      }
    }
    &__title {
      @include adaptiveValue('font-size', 80, 23);
      line-height: math.div(99, 80);
      margin-bottom: toRem(40);
      font-family: $fontFamilyHeading;
      @media (max-width: $tablet) {
        margin-bottom: toRem(10);
      }
    }
    &__descr {
      font-size: toRem(36);
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(46, 36);
      margin-bottom: toRem(65);
      max-width: toRem(600);
      @media (max-width: $tablet) {
        max-width: 100%;
      }
      @media (max-width: $mobile) {
        margin-bottom: toRem(15);
      }
    }
    &__image {
      @media (max-width: $mobile) {
        max-width: toRem(325);
      }
      @media (min-width: $mobile) {
        animation: float 3s infinite ease-in-out;
      }
      @keyframes float {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-15px);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
    &__button {
      font-size: toRem(32);
      font-weight: 500;
      @media (max-width: $mobile) {
        display: none;
      }
    }
    &__button--mobile {
      display: inline-flex;
      font-size: toRem(18);
      line-height: 24px;
      @media (max-width: $tablet) {
        padding: 8px 24px;
      }
      @media (min-width: $mobile) {
        display: none;
      }
    }
  }
  .news {
    position: relative;
    @include adaptiveValue('padding-bottom', 120, 40);
    &__wrapper {
      @include adaptiveValue('padding-left', 150, 30);
      @include adaptiveValue('padding-right', 100, 30);
      transform: translateX(-135px);
      position: relative;
      gap: toRem(40);
      border-radius: toRem(60);
      background: var(--1, linear-gradient(97deg, #010101 42.06%, #3b4c82 106.06%));
      box-shadow:
        0px 4px 5px 0px #000 inset,
        -1px 4px 12px 0px rgba(255, 255, 255, 0.4) inset,
        0px 4px 8px 0px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      @media (max-width: $pc) {
        transform: translateX(-50px);
      }
      @media (max-width: em(1200)) {
        margin-left: 0;
        padding: toRem(30) !important;
      }

      @media (max-width: $tablet) {
        transform: translateX(0px);
        padding-top: toRem(25) !important;
        border-radius: toRem(15);
      }
    }
    &__inner {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $tablet) {
        flex-direction: column;
      }
    }

    &__data {
      text-align: right;
      color: #fff;
      @include adaptiveValue('padding-top', 125, 50);
      @include adaptiveValue('padding-bottom', 125, 50);
      position: relative;
      width: 100%;
      @media (max-width: $tablet) {
        text-align: center;
        order: -1;
        padding: 0 !important;
      }
    }
    &__image {
      align-self: flex-end;
      margin-bottom: toRem(-100);
      margin-right: toRem(-200);
      @media (max-width: $tablet) {
        margin-bottom: 0;
        margin-right: 0;
        align-self: center;
      }
    }
    &__image img {
      max-width: 700px;
      @include adaptiveValue('max-width', 700, 400, 3, 1540, 992);
      @media (max-width: $mobileSmall) {
        max-width: 100%;
      }
    }
    &__title {
      @include adaptiveValue('font-size', 64, 20);
      line-height: math.div(79, 64);
      @include adaptiveValue('margin-bottom', 40, 15);
      color: #fff;
    }
    &__subtitle {
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(46, 36);
      font-family: $fontFamily;
      margin-bottom: toRem(40);
      color: #fff;
      @media (max-width: $mobile) {
        margin-bottom: toRem(0);
      }
    }
    &__button {
      @include adaptiveValue('font-size', 32, 16);
      @media (max-width: $mobile) {
        display: none;
      }
    }
    &__button--mobile {
      display: none;
      max-width: toRem(200);
      margin: toRem(15) auto 0 auto;
      @media (max-width: $mobile) {
        display: flex;
      }
    }
  }
  .slider {
    @include adaptiveValue('margin-bottom', 120, 40);
    position: relative;

    &__wrapper {
      @include adaptiveValue('padding-top', 100, 30);
      @include adaptiveValue('padding-bottom', 100, 30);
      @include adaptiveValue('padding-left', 150, 30);
      @include adaptiveValue('padding-right', 150, 30);
      transform: translateX(-135px);
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: toRem(40);
      position: relative;
      border-radius: toRem(60);
      background: var(--1, linear-gradient(97deg, #010101 42.06%, #3b4c82 106.06%));
      box-shadow:
        0px 4px 5px 0px #000 inset,
        -1px 4px 12px 0px rgba(255, 255, 255, 0.4) inset,
        0px 4px 8px 0px rgba(0, 0, 0, 0.25);
      @media (max-width: em(1200)) {
        margin-left: 0;
        padding: toRem(30) !important;
        transform: translatex(0);
      }
      @media (max-width: $mobile) {
        border-radius: 0;
        margin: 0 toRem(-15);
      }

      &::before {
        content: '';
        position: absolute;
        right: -500px;
        @include adaptiveValue('right', -500, -100, 1920, 1200);
        z-index: 1;
        top: toRem(100);
        background: url('../img/slider/slider-decor.png') 0 0 no-repeat;
        width: 700px;
        height: 800px;
        object-fit: contain;
        @media (max-width: $pc) {
          display: none;
        }
      }
    }
    &__inner {
      max-width: toRem(1240);
      margin: 0 auto;
      z-index: 2;
    }
    &__items {
      @media (max-width: $mobile) {
        margin-bottom: toRem(60);
      }
    }
    &__item {
      margin: 0 auto;
      @media (max-width: $mobileSmall) {
        max-width: toRem(205);
      }
    }

    &__item-image {
      border-radius: toRem(25);
      max-width: toRem(270);
      margin-bottom: toRem(25);
      @media (max-width: $mobileSmall) {
        max-width: toRem(205);
      }
    }
    &__item-date {
      margin-bottom: toRem(10);
      font-size: toRem(20);
      color: #fff;
    }
    &__item-title {
      @include adaptiveValue('font-size', 24, 16);
      line-height: math.div(29, 24);
      margin-bottom: toRem(25);
      color: #fff;
      max-width: toRem(270);
    }
    &__item-tags {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: toRem(5);
      color: $primaryColor;
      margin-bottom: toRem(30);
      font-size: toRem(20);
      font-weight: 500;
      @media (max-width: $mobileSmall) {
        font-size: toRem(16);
      }
    }
    &__item-button {
      color: $primaryColor;
      font-size: toRem(18);
      line-height: math.div(22, 18);
      padding: toRem(10) toRem(24);
      @media (any-hover: hover) {
        &:hover {
          color: #fff;
        }
      }
    }
    &__button {
      margin-top: toRem(100);
      position: relative;
      z-index: 2;
      width: 45px;
      height: 45px;
      flex: 0 0 45px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      text-align: center;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;

      &.product-slider-next svg {
        rotate: 180deg;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: toRem(60);
        height: toRem(60);
        border-radius: 59.748px;
        background: var(--2, linear-gradient(126deg, rgba(229, 229, 229, 0.7) 3.35%, rgba(255, 255, 255, 0) 97.01%));
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.03);
        z-index: -1;
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
  .steps {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__items {
      @extend %flexStack;
      gap: 25px;
      @media (max-width: $tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: $mobileSmall) {
        grid-template-columns: 1fr;
      }
    }
    &__item {
      max-width: toRem(317);
      width: 100%;
      border-radius: 20px;
      border: 2px solid var(--white, #fff);
      background: linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%);
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 22px 0px rgba(255, 255, 255, 0.83) inset;
      backdrop-filter: blur(8.5px);
      padding: toRem(32);
      @media (max-width: $tablet) {
        max-width: 100%;
      }
      @media (max-width: $mobileSmall) {
        display: flex;
        align-items: center;
        gap: toRem(15);
        padding: toRem(16);
      }
    }
    &__item-number {
      font-size: toRem(28);
      background-color: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      filter: drop-shadow(-3px -5px 6px rgba(255, 255, 255, 0.38)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.07));
      backdrop-filter: blur(8.5px);
      width: toRem(44);
      height: toRem(44);
      flex: 0 0 toRem(44);
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: relative;
      font-family: $fontFamilyHeading;
      margin-bottom: toRem(25);
      @media (max-width: $mobileSmall) {
        margin-bottom: toRem(0);
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: toRem(58);
        height: toRem(58);
        background-color: linear-gradient(126deg, rgba(229, 229, 229, 0.7) 3.35%, rgba(255, 255, 255, 0) 97.01%);
        border-radius: 50%;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.03));
        backdrop-filter: blur(4.5px);
        z-index: -1;
      }
    }
    &__item-title {
      @include adaptiveValue('font-size', 24, 18);
      line-height: math.div(29, 24);
      max-width: toRem(250);
    }
    &__item-line {
      position: relative;

      @media (max-width: $pc) {
        display: none;
      }
      flex: 0 1 65px;
      height: 2px;
      background-color: #fff;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
      }
      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
  .catalogs {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      @include adaptiveValue('font-size', 64, 20);
      line-height: math.div(64, 79);
      @include adaptiveValue('margin-bottom', 40, 30);
      @media (max-width: $mobileSmall) {
        text-align: center;
      }
    }
    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: toRem(40);
      @media (max-width: em(1200)) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: $mobile) {
        grid-template-columns: 1fr;
      }
    }
    &__item {
      position: relative;
      border-radius: toRem(60);
      @include adaptiveValue('min-height', 612, 396);
      padding: toRem(40);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      @media (max-width: $mobile) {
        border-radius: toRem(15);
      }
    }
    &__item-data {
      margin-top: auto;
      margin-left: auto;
      text-align: right;
      z-index: 1;
    }
    &__item-title {
      @include adaptiveValue('font-size', 36, 18);
      line-height: math.div(44, 36);
      margin-bottom: toRem(15);
      max-width: toRem(315);
    }
    &__item-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 500px;
      height: 630px;
      object-fit: contain;
      @media (max-width: $mobile) {
        width: 320px;
        height: auto;
      }
    }
    &__item-button {
      @include adaptiveValue('font-size', 24, 18);
    }
  }
  .map {
    &__container {
      position: relative;
    }
    &__container button.zoom {
      position: absolute;
      top: 15px;
      right: 0;
      z-index: 1;
      font-size: toRem(18);
      @media (max-width: $mobile) {
        font-size: toRem(16);
        padding: 15px;
      }
      @media (max-width: $mobileSmall) {
        display: none;
      }
    }
    &__data {
      position: absolute;
      top: toRem(65);
      left: 0;
      padding: toRem(30);
      margin-left: toRem(15);
      border-radius: 25px;
      background: var(--3, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      backdrop-filter: blur(8.5px);
      z-index: 2;
      color: #010101;
      font-size: toRem(20);
      line-height: math.div(26, 20);
      max-width: toRem(450);
      font-weight: 450;
      @media (max-width: em(1180)) {
        left: auto;
        top: 400px;
        right: 0;
        margin-right: toRem(15);
      }
      @media (max-width: $mobile) {
        top: 100px;
        font-size: toRem(16);
        padding: toRem(15);
      }
      @media (max-width: $mobileSmall) {
        font-size: toRem(14);
        top: 150px;
        padding: toRem(10) toRem(15);
      }
    }
    &__data-text {
      margin-bottom: toRem(15);
    }
    &__data-contacts {
      display: flex;
      flex-direction: column;
      gap: toRem(15);
      @media (max-width: $mobile) {
        gap: toRem(5);
      }
    }
    &__contacts-item {
      display: flex;
      align-items: center;
      gap: toRem(10);
      color: #010101;
      svg {
        flex: 0 0 toRem(25);
        fill: #010101;
      }
    }

    &__title {
      @include adaptiveValue('font-size', 64, 20);
      line-height: math.div(79, 64);
      @include adaptiveValue('margin-bottom', 80, 25);
    }
    &__box {
      height: toRem(750);
      @media (max-width: $mobile) {
        height: toRem(350);
      }
    }
  }
}
//====================================================================================================
