.page-products {
  .hero {
    padding-bottom: toRem(50);
    padding-top: toRem(40);
    &__wrapper {
      display: flex;
      align-items: center;
      gap: toRem(100);
      padding-left: max(15px, calc((100% - 1595px) / 2));
      @media (max-width: $tablet) {
        flex-direction: column;
        text-align: center;
        gap: toRem(15);
        padding: toRem(15);
      }
    }
    &__data {
      max-width: toRem(692);
    }
    &__title {
      margin-bottom: toRem(40);
      @media (max-width: $tablet) {
        margin-bottom: toRem(10);
      }
    }
    &__description {
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(46, 36);
      margin-bottom: toRem(20);
      a {
        text-underline-offset: 3px;
        color: $primaryColor;
        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &__image {
    }
  }
  .products {
    &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include adaptiveValue('padding-bottom', 120, 40);
      gap: toRem(40);
      @include adaptiveValue('gap', 40, 15, 3, 1920, 992);
      @media (max-width: em(1180)) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $tablet) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: $mobileSmall) {
        gap: toRem(10);
      }
    }
    &__item {
      padding: toRem(32);
      @include adaptiveValue('padding', 30, 20, 3, 1920, 992);
      border-radius: 25px;
      border: 0.5px solid #fff;
      background: var(--3, linear-gradient(123deg, #e5e5e5 -3.86%, #fafafa 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      backdrop-filter: blur(8.5px);
      display: flex;
      flex-direction: column;
      gap: toRem(10);
      @media (max-width: $mobileSmall) {
        padding: toRem(15);
      }
    }
    &__item-title {
      @include adaptiveValue('font-size', 24, 16);
      font-family: $fontFamilyHeading;
    }
    &__item-image {
      max-width: toRem(222);
      height: toRem(210);
      margin: 0 auto;
      @media (max-width: $mobile) {
        max-width: toRem(150);
        height: toRem(180);
      }
      @media (max-width: $mobileSmall) {
        max-width: toRem(100);
        height: toRem(110);
      }
    }
    &__item-button {
      justify-content: center;
      @include adaptiveValue('font-size', 24, 16);
      line-height: math.div(26, 18);
      @media (max-width: $mobileSmall) {
        padding: toRem(8) toRem(20);
        font-size: toRem(14);
      }
    }
    &__tech {
      margin-bottom: toRem(120);
    }
    &__tech-wrapper {
      max-width: toRem(1320);
      margin: 0 auto;
      padding: toRem(80) toRem(50) toRem(50) toRem(50);
      border-radius: toRem(25);
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: $mobile) {
        padding: toRem(50) toRem(24) toRem(24) toRem(24);
        text-align: center;
      }
    }
    &__tech-title {
      @include adaptiveValue('margin-bottom', 40, 15);
      @include adaptiveValue('font-size', 48, 24);
    }
    &__tech-text {
      @include adaptiveValue('font-size', 28, 16);
      line-height: math.div(36, 28);
      margin-bottom: toRem(25);
      text-align: center;
    }
    &__tech-button {
      margin-top: toRem(25);
      @media (max-width: $mobileSmall) {
        font-size: toRem(18);
        margin-top: toRem(0);
      }
    }
  }
  .process {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      margin-bottom: toRem(25);
    }
    &__text {
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(46, 36);
      margin-bottom: toRem(30);
    }
    &__images {
      padding-top: toRem(30);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiveValue('gap', 40, 15);
      @media (max-width: $tablet) {
        grid-template-columns: 1fr 1fr;
      }
    }
    &__image {
      border-radius: toRem(15);
      overflow: hidden;
      min-height: toRem(193);
    }
    &__image img {
      object-fit: cover;
      height: 100%;
    }
  }
}

.single-product {
  .hero {
    @include adaptiveValue('min-height', 820, 496);
    background: linear-gradient(97deg, #3b4c82 0%, #010101 55.79%, #373a3b 106.06%);
    position: relative;
    display: grid;
    place-items: center;
    @include adaptiveValue('margin-bottom', 120, 40);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('@img/hero-company-mask.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(60);
      @media (max-width: $tablet) {
        flex-direction: column;
        gap: toRem(30);
        padding: toRem(30) toRem(20);
        text-align: center;
      }
    }
    &__data {
      position: relative;
      z-index: 2;
    }
    &__title {
      color: #fff;
      @include adaptiveValue('font-size', 64, 28);
      line-height: math.div(79, 64);
      @include adaptiveValue('margin-bottom', 40, 15);
    }
    &__text {
      font-size: toRem(36);
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(46, 36);
      margin-bottom: toRem(20);
      color: #fff;
      a {
        color: $primaryColor;
        text-underline-offset: 5px;
        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &__image {
      position: relative;
      z-index: 2;
      img {
        @include adaptiveValue('max-width', 800, 300);
        @media (max-width: $mobile) {
          max-width: 100%;
        }
      }
    }
  }
  .benefits {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      @include adaptiveValue('margin-bottom', 60, 15);
    }
    &__items {
      display: flex;
      gap: toRem(40);
      @media (max-width: $tablet) {
        flex-direction: column;
        gap: toRem(25);
      }
    }
    &__item {
      border-radius: 25px;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      padding: toRem(30);
      @media (max-width: $mobile) {
        padding: toRem(15);
      }
    }
    &__item-head {
      display: flex;
      align-items: center;
      margin-bottom: toRem(25);
      gap: toRem(25);
      @media (max-width: $tablet) {
        gap: toRem(10);
        margin-bottom: toRem(10);
      }
    }
    &__item-title {
      @include adaptiveValue('font-size', 24, 16);
    }
    &__item-icon {
      @include adaptiveValue('width', 60, 40);
      @include adaptiveValue('height', 60, 40);
      width: toRem(60);
      height: toRem(60);
      @media (max-width: $mobile) {
        flex: auot;
      }
    }
    &__item-text {
      letter-spacing: -1px;
      font-size: toRem(28);
      line-height: math.div(34, 28);
      @media (max-width: $mobileSmall) {
        font-size: toRem(18);
      }
    }
  }
  .types {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      margin-bottom: toRem(50);
      @media (max-width: $mobileSmall) {
        font-size: toRem(20);
        text-align: center;
        margin-bottom: toRem(25);
      }
    }
    &__wrapper {
      display: flex;
      align-items: center;
      @media (max-width: em(1200)) {
        flex-direction: column;
      }
    }
    &__image {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 777px;
        height: 792px;
        right: -350px;
        top: 115px;
        z-index: -1;
        background-image: url('@img/robot-mas.svg');
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width: $pc) {
          display: none;
        }
      }
      img {
        transform: scale(-1, 1);
        @media (max-width: em(1200)) {
          max-width: toRem(600);
        }
        @media (max-width: $mobileSmall) {
          max-width: 100%;
          transform: scale(1, 1);
        }
      }
      @media (min-width: em(1200)) {
        margin-left: toRem(-100);
      }
    }
    &__items {
      @media (max-width: em(1200)) {
        display: flex;
        flex-direction: column;
        gap: toRem(25);
        width: 100%;
      }
    }
    &__item {
      border-radius: 25px;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      padding: toRem(32);
      max-width: toRem(688);
      @media (max-width: em(1200)) {
        margin: 0 !important;
        width: 100%;
        max-width: 100%;
      }
      @media (max-width: $mobileSmall) {
        padding: toRem(16);
        border-radius: toRem(15);
      }
    }
    &__item:nth-child(1) {
      margin-bottom: toRem(50);
      margin-right: toRem(230);
    }
    &__item:nth-child(2) {
      margin-bottom: toRem(33);
      margin-left: auto;
    }
    &__item:nth-child(3) {
      margin-bottom: toRem(50);
      margin-left: auto;
    }
    &__item:nth-child(4) {
      margin-right: toRem(230);
    }

    &__item-title {
      @include adaptiveValue('font-size', 24, 16);
      @include adaptiveValue('margin-bottom', 25, 10);
      font-family: $fontFamilyHeading;
    }
    &__item-descr {
      @include adaptiveValue('font-size', 26, 16);
      line-height: math.div(35, 28);
      letter-spacing: -1px;
      @media (max-width: $mobile) {
        letter-spacing: normal;
      }
    }
  }
  .grades {
    &__title {
      @include adaptiveValue('margin-bottom', 60, 15);
    }
    &__descr {
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(44, 36);
      @include adaptiveValue('margin-bottom', 60, 30);
    }
  }
  .navigator {
    &__title {
      margin-bottom: toRem(40);
    }
    &__text {
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(49, 36);
      @include adaptiveValue('margin-bottom', 80, 30);
    }
    &__inserts {
      @include adaptiveValue('padding-bottom', 120, 40);
      &-title {
        @include adaptiveValue('font-size', 36, 18);
        margin-bottom: toRem(40);
      }
      &-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: flex-start;
        gap: toRem(40);
        @media (max-width: em(1200)) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $tablet) {
          grid-template-columns: repeat(3, 1fr);
          gap: toRem(20);
        }
        @media (max-width: $mobile) {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      &-item {
        padding: toRem(40);
        border-radius: 25px;
        background: var(--3, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
        box-shadow:
          1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
          -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
          0px 4px 6px 0px rgba(0, 0, 0, 0.07),
          -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: $mobile) {
          padding: toRem(20);
        }
      }
      &-item-title {
        font-size: toRem(24);
        margin-bottom: toRem(25);
        display: block;
        font-family: $fontFamilyHeading;
        text-align: center;
      }
      &-item-image {
        margin-bottom: toRem(15);
        text-align: center;
      }
      &-item-content {
        font-size: toRem(20);
        color: #000;
        line-height: math.div(28, 20);
        img {
          margin-top: toRem(15);
        }
        @media (max-width: $mobile) {
          font-size: toRem(16);
          line-height: math.div(20, 16);
        }
      }
      &-item-button {
        margin-top: toRem(15);
        font-size: toRem(16);
        padding: toRem(10) toRem(24);
        @media (max-width: $mobileSmall) {
          padding: toRem(10);
          font-size: toRem(14);
        }
      }
    }
  }
  .shapes {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      @include adaptiveValue('margin-bottom', 40, 20);
      @media (max-width: $mobileSmall) {
        font-size: toRem(20);
      }
    }
    &__descr {
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(49, 36);
      @include adaptiveValue('margin-bottom', 40, 20);
      @media (max-width: $mobile) {
        letter-spacing: -1px;
      }
      &:last-child {
        margin-bottom: toRem(0);
      }
    }
    &__wrapper {
      display: flex;
      align-items: center;
      gap: toRem(100);
      padding-left: max(15px, calc((100% - 1595px) / 2));
      @include adaptiveValue('padding-bottom', 120, 40);
      @media (max-width: $mobile) {
        padding: 0 toRem(15);
        margin-bottom: toRem(40);
      }
    }
    &__image {
      margin-right: toRem(-400);
      @media (max-width: $mobile) {
        display: none;
      }
    }
    &__table-title {
      @include adaptiveValue('font-size', 36, 16);
      @include adaptiveValue('margin-bottom', 40, 25);
    }
    &__tables {
      display: flex;
    }
  }
  .about-products {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__slider {
      position: relative;
      @media (min-width: $tablet) {
        display: none;
      }
    }
    &__wrapper {
      padding-bottom: toRem(80);
    }

    .swiper-pagination-bullet {
      background-color: #373a3b;
    }

    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(40);
      @media (max-width: em(1200)) {
        gap: toRem(20);
      }
      @media (max-width: $tablet) {
        display: none;
      }
    }
    &__title {
      margin-bottom: toRem(40);
    }
    &__item {
      position: relative;
      padding: toRem(40);
      background: var(--3, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      border-radius: 25px;
      flex: 1 1 toRem(370);
      @media (max-width: em(1200)) {
        padding: toRem(30);
      }
      @media (max-width: $tablet) {
        max-width: toRem(250);
      }
    }
    &__item img {
      height: toRem(280);
      width: toRem(250);
      object-fit: contain;
      @media (max-width: em(1200)) {
        height: toRem(220);
      }
    }
    &__item-name {
      position: absolute;
      max-width: toRem(244);
      bottom: toRem(40);
      right: 0;
      font-size: toRem(22);
      line-height: math.div(26, 22);
      font-family: $fontFamilyHeading;
      padding: toRem(10) toRem(40);
      border-radius: 60px 0px 0px 60px;
      background: #fff;
      box-shadow:
        1px 2px 5px 0px rgba(0, 0, 0, 0.15) inset,
        -3px -4px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 4px 0px rgba(0, 0, 0, 0.15),
        -2px -2px 6px 0px rgba(255, 255, 255, 0.83) inset;
      @media (max-width: em(1200)) {
        font-size: toRem(20);
        padding: toRem(10) toRem(20);
        text-align: right;
        max-width: toRem(200);
      }
      @media (max-width: $mobileSmall) {
        font-size: toRem(18);
      }
    }
  }
  .designs {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      @include adaptiveValue('margin-bottom', 40, 15);
    }
    &__descr {
      @include adaptiveValue('font-size', 36, 16);
      line-height: math.div(49, 36);
      letter-spacing: -1px;
      margin-bottom: toRem(40);
    }
    &__row {
      display: flex;
      align-items: flex-start;
      gap: toRem(40);
      @media (max-width: $mobile) {
        flex-direction: column;
        gap: toRem(15);
      }
    }
    &__graphs {
      display: flex;
      flex-direction: column;
      gap: toRem(40);
      @media (max-width: $mobile) {
        gap: toRem(15);
      }
    }
  }
  .features {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      @include adaptiveValue('margin-bottom', 60, 25);
    }
    &__items {
      display: flex;
      gap: toRem(40);
      @media (max-width: $tablet) {
        flex-direction: column;
        gap: toRem(25);
      }
    }
    &__item {
      padding: toRem(30);
      border-radius: 25px;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      @include adaptiveValue('font-size', 28, 16);
      line-height: math.div(36, 28);
    }
  }
  .manufacture {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      @include adaptiveValue('margin-bottom', 60, 25);
      @media (max-width: $mobileSmall) {
        font-size: toRem(20);
      }
    }
    &__text {
      @include adaptiveValue('font-size', 28, 16);
      line-height: math.div(36, 28);
      color: #000;
      margin-bottom: toRem(15);
    }
    &__box {
      display: flex;
      align-items: center;
      @include adaptiveValue('padding-bottom', 120, 40);
      padding-top: toRem(60);
      @media (max-width: $tablet) {
        flex-direction: column;
        padding-top: 0;
      }
    }
    &__box-item {
      border-radius: 25px;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      padding: toRem(30);
      display: flex;
      align-items: center;
      gap: toRem(15);
      position: relative;
      max-width: toRem(490);

      &::after,
      &::before {
        @media (max-width: $pc) {
          display: none;
        }
      }

      &.item-1 {
        @media (min-width: $tablet) {
          transform: translateY(-80px);
        }
        &::after {
          content: '';
          position: absolute;
          right: -150px;
          top: 50%;
          background: url('data:image/svg+xml,<svg width="131" height="49" viewBox="0 0 131 49" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M130.833 43C130.833 45.9455 128.446 48.3333 125.5 48.3333C122.554 48.3333 120.167 45.9455 120.167 43C120.167 40.0545 122.554 37.6667 125.5 37.6667C128.446 37.6667 130.833 40.0545 130.833 43ZM70.0098 6V5H70.3126L70.5646 5.16799L70.0098 6ZM10.8333 6C10.8333 8.94552 8.44552 11.3333 5.5 11.3333C2.55448 11.3333 0.166664 8.94552 0.166664 6C0.166664 3.05448 2.55448 0.666667 5.5 0.666667C8.44552 0.666667 10.8333 3.05448 10.8333 6ZM124.945 43.832L69.455 6.83201L70.5646 5.16799L126.055 42.168L124.945 43.832ZM70.0098 7H5.5V5H70.0098V7Z" fill="white"/></svg>');
          width: toRem(135);
          height: toRem(50);
          background-repeat: no-repeat;
          z-index: 5;
        }

        &::before {
          content: '';
          position: absolute;
          right: -365px;
          bottom: -150px;
          background: url('data:image/svg+xml,<svg width="601" height="126" viewBox="0 0 601 126" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M600.833 120.5C600.833 123.446 598.446 125.833 595.5 125.833C592.554 125.833 590.167 123.446 590.167 120.5C590.167 117.554 592.554 115.167 595.5 115.167C598.446 115.167 600.833 117.554 600.833 120.5ZM212.5 120.5V121.5H212.24L212.013 121.374L212.5 120.5ZM11.3333 5.5C11.3333 8.44552 8.9455 10.8333 6 10.8333C3.0545 10.8333 0.666687 8.44552 0.666687 5.5C0.666687 2.55448 3.0545 0.166667 6 0.166667C8.9455 0.166667 11.3333 2.55448 11.3333 5.5ZM595.5 121.5H212.5V119.5H595.5V121.5ZM212.013 121.374L5.51349 6.37366L6.48651 4.62634L212.987 119.626L212.013 121.374Z" fill="white"/></svg>');
          width: toRem(590);
          height: toRem(115);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      img {
        @media (max-width: $mobile) {
          max-width: toRem(80);
        }
      }
    }
    &__box-item-data {
      display: flex;
      flex-direction: column;
      gap: toRem(25);
      font-size: toRem(24);
      @include adaptiveValue('font-size', 24, 16, 3, 1920, 992);
      line-height: math.div(29, 24);
      p {
        font-family: $fontFamilyHeading;
      }
      span {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        font-family: $fontFamily;
      }
      @media (max-width: $mobile) {
        gap: toRem(10);
      }
    }
    &__box-items {
      display: flex;
      flex-direction: column;
      gap: toRem(80);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: -180px;
        top: 80px;
        width: 140px;
        height: 360px;
        background: url('data:image/svg+xml,<svg width="151" height="373" viewBox="0 0 151 373" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.666667 139C0.666667 141.946 3.05448 144.333 6 144.333C8.94552 144.333 11.3333 141.946 11.3333 139C11.3333 136.054 8.94552 133.667 6 133.667C3.05448 133.667 0.666667 136.054 0.666667 139ZM78.9902 6V5H78.3983L78.1135 5.51889L78.9902 6ZM139.167 6C139.167 8.94552 141.554 11.3333 144.5 11.3333C147.446 11.3333 149.833 8.94552 149.833 6C149.833 3.05448 147.446 0.666667 144.5 0.666667C141.554 0.666667 139.167 3.05448 139.167 6ZM6.87666 139.481L79.8669 6.48111L78.1135 5.51889L5.12334 138.519L6.87666 139.481ZM78.9902 7H144.5V5H78.9902V7Z" fill="white"/><path d="M0.666667 139C0.666667 141.946 3.05448 144.333 6 144.333C8.94552 144.333 11.3333 141.946 11.3333 139C11.3333 136.054 8.94552 133.667 6 133.667C3.05448 133.667 0.666667 136.054 0.666667 139ZM78.9902 367.5L78.0376 367.804L78.2598 368.5H78.9902V367.5ZM139.667 367.5C139.667 370.446 142.054 372.833 145 372.833C147.946 372.833 150.333 370.446 150.333 367.5C150.333 364.554 147.946 362.167 145 362.167C142.054 362.167 139.667 364.554 139.667 367.5ZM5.04742 139.304L78.0376 367.804L79.9428 367.196L6.95258 138.696L5.04742 139.304ZM78.9902 368.5H145V366.5H78.9902V368.5Z" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-size: contain;
      }
      @media (max-width: $pc) {
        gap: toRem(30);
      }
    }
    &__box-item-main {
      margin: 0 toRem(80);
      @media (max-width: $pc) {
        margin: 0 toRem(30);
      }
    }
    &__box-item-img {
      flex: 0 0 toRem(130);
    }
    &-main {
      position: relative;
      z-index: -1;
    }
    &-main-number {
      width: toRem(40);
      height: toRem(40);
      display: grid;
      place-items: center;
      border-radius: 15px;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      backdrop-filter: blur(8.5px);
      border-radius: 50%;
      font-family: $fontFamilyHeading;
      font-size: toRem(22);
      position: absolute;
      display: none;
      @media (max-width: $tablet) {
        display: grid;
      }
    }
    .item-number {
      display: grid;
      place-items: center;
      width: toRem(30);
      height: toRem(30);
      border-radius: 15px;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      backdrop-filter: blur(8.5px);
      border-radius: 50%;
      font-family: $fontFamilyHeading;
      font-size: toRem(20);
      @media (min-width: $tablet) {
        display: none;
      }
    }
    .number-1 {
      top: percent(80, 274);
      left: percent(30, 180);
      z-index: 5;
    }

    .number-2 {
      top: percent(100, 274);
      left: percent(140, 180);
      z-index: 5;
    }
    .number-3 {
      bottom: percent(30, 274);
      left: percent(70, 180);
      z-index: 5;
    }
  }

  .engine {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      max-width: toRem(870);
      @include adaptiveValue('margin-bottom', 60, 25);
    }
    &__items {
      display: flex;
      align-items: flex-start;
      gap: toRem(40);
      @media (max-width: $tablet) {
        flex-direction: column;
        justify-content: center;
        gap: toRem(15);
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      gap: toRem(40);
      height: 100%;
      @media (max-width: $tablet) {
        width: 100%;
        gap: toRem(25);
      }
    }
    &__item-img {
      @media (max-width: $tablet) {
        margin: 0 auto;
      }
    }
    &__item-img img {
      height: toRem(380);
      width: toRem(506);
      object-fit: contain;
      @media (max-width: em(1200)) {
        height: auto;
        width: auto;
      }
    }
    &__item-box {
      border-radius: 25px;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      display: flex;
      gap: toRem(25);
      align-items: center;
      padding: toRem(25);
      min-height: toRem(290);
      @media (max-width: em(1200)) {
        flex-direction: column;
      }
      @media (max-width: $mobile) {
        flex-direction: row;
        padding: toRem(15);
        min-height: auto;
      }
    }
    &__item-box-image {
      flex: 0 0 toRem(150);
      @media (max-width: $mobile) {
        flex: auto;
      }
    }
    &__item-box-data {
      p {
        font-size: toRem(24);
        font-family: $fontFamilyHeading;
        margin-bottom: toRem(25);
        max-width: toRem(270);
        line-height: math.div(29, 25);
        @media (max-width: $mobile) {
          font-size: toRem(16);
        }
      }
      span {
        font-size: toRem(28);
        line-height: math.div(36, 28);
        letter-spacing: -1px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
        @media (max-width: $mobile) {
          font-size: toRem(16);
        }
      }
    }
  }

  .powertrains {
    @include adaptiveValue('padding-bottom', 120, 40);
    &__title {
      margin-bottom: toRem(60);
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__item {
      border-radius: 25px;
      background: var(--2, linear-gradient(123deg, rgba(229, 229, 229, 0.7) -3.86%, rgba(255, 255, 255, 0) 109.9%));
      box-shadow:
        1px 1px 5px 0px rgba(0, 0, 0, 0.05) inset,
        -3px -5px 6px 0px rgba(255, 255, 255, 0.38),
        0px 4px 6px 0px rgba(0, 0, 0, 0.07),
        -3px -3px 6px 0px rgba(255, 255, 255, 0.83) inset;
      padding: toRem(30);
      display: flex;
      align-items: center;
      gap: toRem(25);
      max-width: toRem(680);
      position: relative;
      @media (max-width: $pc) {
        &::after,
        &::before {
          display: none;
        }
      }
    }
    &__item-top {
      display: flex;
      justify-content: space-between;
      gap: toRem(30);
      margin-bottom: toRem(50);
      @media (max-width: $tablet) {
        flex-direction: column;
        margin-bottom: toRem(30);
      }
      .powertrains__item:first-child {
        transform: translateY(80px);
        @media (max-width: $tablet) {
          transform: translateY(0);
        }
        &::after {
          content: '';
          position: absolute;
          bottom: -650px;
          left: 98%;
          transform: translate(-98%);
          width: 340px;
          height: 615px;
          background: url('data:image/svg+xml,<svg width="350" height="627" viewBox="0 0 350 627" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M298.333 621C298.333 623.945 295.946 626.333 293 626.333C290.054 626.333 287.667 623.945 287.667 621C287.667 618.055 290.054 615.667 293 615.667C295.946 615.667 298.333 618.055 298.333 621ZM246 394.5L246.85 393.974L246.86 393.99L246.869 394.006L246 394.5ZM10.8333 6C10.8333 8.94552 8.44553 11.3333 5.5 11.3333C2.55447 11.3333 0.166656 8.94552 0.166656 6C0.166656 3.05448 2.55447 0.666667 5.5 0.666667C8.44553 0.666667 10.8333 3.05448 10.8333 6ZM349.333 567C349.333 569.945 346.946 572.333 344 572.333C341.054 572.333 338.667 569.945 338.667 567C338.667 564.055 341.054 561.667 344 561.667C346.946 561.667 349.333 564.055 349.333 567ZM292.021 621.203L245.021 394.703L246.979 394.297L293.979 620.797L292.021 621.203ZM245.15 395.026L4.64975 6.52635L6.35025 5.47365L246.85 393.974L245.15 395.026ZM246.869 394.006L344.869 566.506L343.131 567.494L245.131 394.994L246.869 394.006Z" fill="white"/></svg>');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .powertrains__item:last-child {
        &::after {
          content: '';
          position: absolute;
          bottom: -270px;
          left: 60%;
          transform: translate(-60%);
          width: 407px;
          height: 250px;
          background: url('data:image/svg+xml,<svg width="419" height="206" viewBox="0 0 419 206" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M187.5 1.5L188.014 0.64234L187.392 0.269455L186.845 0.744723L187.5 1.5ZM0.666667 159C0.666667 161.946 3.05448 164.333 6 164.333C8.94552 164.333 11.3333 161.946 11.3333 159C11.3333 156.054 8.94552 153.667 6 153.667C3.05448 153.667 0.666667 156.054 0.666667 159ZM125.667 79.5C125.667 82.4455 128.054 84.8333 131 84.8333C133.946 84.8333 136.333 82.4455 136.333 79.5C136.333 76.5545 133.946 74.1667 131 74.1667C128.054 74.1667 125.667 76.5545 125.667 79.5ZM293.667 200C293.667 202.946 296.054 205.333 299 205.333C301.946 205.333 304.333 202.946 304.333 200C304.333 197.054 301.946 194.667 299 194.667C296.054 194.667 293.667 197.054 293.667 200ZM408.167 137C408.167 139.946 410.554 142.333 413.5 142.333C416.446 142.333 418.833 139.946 418.833 137C418.833 134.054 416.446 131.667 413.5 131.667C410.554 131.667 408.167 134.054 408.167 137ZM186.845 0.744723L5.34459 158.245L6.65541 159.755L188.155 2.25528L186.845 0.744723ZM186.69 0.913373L130.19 78.9134L131.81 80.0866L188.31 2.08663L186.69 0.913373ZM186.628 1.98974L298.128 200.49L299.872 199.51L188.372 1.01026L186.628 1.98974ZM186.986 2.35766L412.986 137.858L414.014 136.142L188.014 0.64234L186.986 2.35766Z" fill="white"/></svg>');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    &__item-data {
      p {
        @include adaptiveValue('font-size', 24, 16);
        font-family: $fontFamilyHeading;
        margin-bottom: toRem(25);
      }
      span {
        @include adaptiveValue('font-size', 28, 16);
      }
    }
    &__item-bottom {
      align-self: flex-end;
      max-width: toRem(550);
      transform: translateY(-250px);
      @media (max-width: $tablet) {
        transform: translate(0);
        align-self: center;
        margin-top: toRem(30);
      }
      .powertrains__item {
        &::after {
          content: '';
          position: absolute;
          top: percent(-950, 500);
          left: -270px;
          height: 350px;
          width: 580px;
          z-index: 2;
          background-size: contain;
          background: url('data:image/svg+xml,<svg width="578" height="333" viewBox="0 0 578 333" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.166667 189.5C0.166667 192.446 2.55448 194.833 5.5 194.833C8.44552 194.833 10.8333 192.446 10.8333 189.5C10.8333 186.554 8.44552 184.167 5.5 184.167C2.55448 184.167 0.166667 186.554 0.166667 189.5ZM538.5 331.5L538.243 332.466L539.375 332.768L539.495 331.602L538.5 331.5ZM451.167 29C451.167 31.9455 453.554 34.3333 456.5 34.3333C459.446 34.3333 461.833 31.9455 461.833 29C461.833 26.0545 459.446 23.6667 456.5 23.6667C453.554 23.6667 451.167 26.0545 451.167 29ZM566.667 5.5C566.667 8.44552 569.055 10.8333 572 10.8333C574.945 10.8333 577.333 8.44552 577.333 5.5C577.333 2.55448 574.945 0.166667 572 0.166667C569.055 0.166667 566.667 2.55448 566.667 5.5ZM5.24256 190.466L538.243 332.466L538.758 330.534L5.75744 188.534L5.24256 190.466ZM539.465 331.238L457.465 28.7384L455.535 29.2616L537.535 331.762L539.465 331.238ZM539.495 331.602L572.995 5.60222L571.005 5.39778L537.505 331.398L539.495 331.602Z" fill="white"/></svg>');
          background-repeat: no-repeat;
        }
      }
    }
  }

  table {
    width: 100%;
    margin-bottom: toRem(60);

    thead {
      transform: translateY(-15px);
      border-collapse: collapse;
      border-radius: 1em;
      th:first-child {
        border-radius: 25px 0 0 25px;
      }
      th:last-child {
        border-radius: 0 25px 25px 0;
      }
    }
    tr {
      background: var(--1, linear-gradient(97deg, #373a3b 0%, #010101 42.06%, #3b4c82 106.06%));
      border-radius: 20px;
    }
    th {
      color: #fff;
      padding: toRem(15) toRem(30);
      font-size: toRem(28);
      font-family: $fontFamily;
      font-weight: 500;
      @media (max-width: $mobile) {
        font-size: toRem(20);
      }
      @media (max-width: $mobileSmall) {
        padding: toRem(5);
        font-weight: 400;
      }
    }

    // tbody {
    //   tr:first-child td:first-child {
    //     border-radius: 25px 0 0 0;
    //   }
    //   tr:first-child td:last-child {
    //     border-radius: 0 25px 0 0;
    //   }
    //   tr:last-child td:first-child {
    //     border-radius: 0 0 0 25px;
    //   }
    //   tr:last-child td:last-child {
    //     border-radius: 0 0 25px 0;
    //   }
    // }

    td {
      padding: toRem(30) toRem(60);
      background-color: #fff;
      @include adaptiveValue('font-size', 26, 16);
      line-height: math.div(32, 26);
      @media (max-width: $tablet) {
        padding: toRem(30);
      }
      @media (max-width: $mobileSmall) {
        padding: toRem(10);
      }
    }
    td:nth-child(1) {
      text-align: center;
      white-space: nowrap;
      @media (max-width: $mobile) {
        white-space: wrap;
      }
    }
  }
}

.ceramic {
  table td:nth-child(5) {
    text-align: center;
  }
  .circle {
    display: block;
    width: toRem(46);
    height: toRem(46);
    border-radius: 50%;
    &._black {
      background-color: #000;
    }
  }
}

.pcd {
  .shapes {
    &__tables {
      display: flex;
      gap: toRem(40);
      @include adaptiveValue('padding-bottom', 120, 40);
      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }
  }
  table td:nth-child(1) {
    text-align: start;
    span {
      display: block;
      margin-bottom: toRem(5);
    }
    ul {
      padding-left: toRem(30);
    }
    ul li {
      list-style: disc;
    }
  }
}

.carbide .shapes__descr {
  margin-bottom: toRem(30) !important;
}
